html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(251, 255, 0);
    background-image: url("./imgs/Blank.png");
    
} 

canvas {
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid yellow;
}
